<div class="heading center">
  <h3>Create a Category</h3>
</div>


<%= form_for @category do |f| %>

  <strong><%= f.label :title %></strong>
  <%= f.text_field :title %>
  <br />

  <div class="button center"><%= f.submit "Create Category" %></div>

<% end %>

